<div id="login-container">
  <div id="login-form-container">

    <% flash.each do |key, value| %>
      <div class="login-flash-msg"><%= value %></div>
    <% end %>

    <div id="login-form-top">
      <%= image_tag "/assets/logo.png", id: "login-logo" %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login-form"}) do |f| %>

        <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "login-field" %>

        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "login-field" %>


        <% if devise_mapping.rememberable? %>
          <div class="login-remember-me-div">
            <%= f.check_box :remember_me, class: "remember-me-checkbox" %>
            <%= f.label :remember_me, class: "remember-me-label" %>
          </div>
        <% end %>

        <%= f.submit "Log in", id: "login-btn" %>
      <% end %>

      <%= link_to "Forgot password?", new_password_path(resource_name), class: "forgot-password-link" %>
    </div>

    <p id="sign-up-p">Don't have an account? <%= link_to "Sign up", new_registration_path(resource_name), class: "login-su-link" %></p>
  </div>
</div>


