<% if @sorted_by_likes.length === 0 %>
  <div class="user-show-no-posts">
    <i class="fas fa-camera user-show-no-posts-camera"></i>
    <h2 class="user-show-no-posts-title-current-user">No Posts Yet</h2>
    <%= link_to "Share", new_post_path, id: "user-show-add-post-current-user" %>
  </div>
<% else %>
  <div id="post-index-container">
    <div class="post-display-grid">
      <% @sorted_by_likes[0, 21].each do |post| %>
        <% if post.class.method_defined? :image %>
          <%= link_to post, class: "pi-tile-link" do %>
            <div class="post-index-tile-div background-image" style="background-image: url('<%= url_for(post.image) %>');">
              <div class="tinted-tile">
                <p class="post-index-info">
                  <i class="fas fa-heart"></i>
                  <span class="pi-like-span">
                    <%= post.likes.count %>
                  </span>
                  
                  <i class="fas fa-comment"></i>
                  <span class="pi-comment-span">
                    <%= post.comments.count %>
                  </span>
                </p>
              </div>
            </div>
          <% end %>
        <% elsif post.class.method_defined? :clip %>
          <%= link_to post, class: "pi-tile-link" do %>
            <div class="post-index-tile-div video-container">
              <%= video_tag url_for(post.clip), class: "post-index-content post-index-video" %>
              <div class="tinted-tile">
                <p class="post-index-info">
                  <i class="fas fa-heart"></i>
                  <span class="pi-like-span">
                    <%= post.likes.count %>
                  </span>

                  <i class="fas fa-comment"></i>
                  <span class="pi-comment-span">
                    <%= post.comments.count %>
                  </span>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if @sorted_by_likes.length > 21 %>
    <%= link_to "More posts...", more_index_posts_path(next: 21), method: :post, remote: true, id: "more-link", class: "bottom-links" %>

    <button id="top-link" class="bottom-links">Back to top</button>
  <% end %>
<% end %>